#container{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    z-index: 10;
}

ul{
    width: 80%;
    background-color: #222;
    display: flex;
    border-radius: 25px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

li{
    padding: 15px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: lowercase;
    font-family: monospace;
}

a:hover{
    color: black;
}