#parallax{
    background-image: url("../parallax/bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 550px;
}

span{
    text-align: center;
    font-family: monospace;
    background-color: #222;
    color: white;
    padding: 20px;
    font-size: xx-large;
    letter-spacing: 10px;
    text-transform: lowercase;
}